<div class="container p-2">
  <img src="assets/img/TIEMPOSVERBALESENINGLES.png" alt="" />
</div>
<div class="container p-2">
  <div class="row">
    <h1 class="text-center">Videos</h1>
    <hr />
    <div class="col-lg-6">
      <iframe
        src="https://www.youtube.com/embed/IpZ_PWcm3Zc"
        height="400"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-lg-6">
      <iframe
      src="https://www.youtube.com/embed/QAPTlvLxF2Y"
      height="400"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    </div>
  </div>
</div>
<button class="btn btn-info btn-back" routerLink="/eeHome">
  <i class="fa fa-backward"></i>
  BACK
</button>
<a class="btn btn-info btn-back2" href="https://forms.gle/z6aHjGZyDHv2AhWh8" target="_blank">
  <i class="fa fa-file-text-o"></i>
  FEEDBACK
</a>
