
@white:#ecf2f3;
@es: #2c3e50;
@en: #e74c3c;
@cl: #3498db;


.btn-back {
  background-color: @white;
  position: fixed;
  top: 40px;
  right: 5%;
  z-index: 1;
}
.btn-back2 {
  background-color: @white;
  position: fixed;
  top: 80px;
  right: 5%;
  z-index: 1;
}
.alert-primary {
  font-weight: bold;
  font-size: 1.4em;
}
.span-part{
  color: #b07c21;
  font-weight: bold;
}
.span-past{
  color: #076b1e;
  font-weight: bold;
}
.span-inf{
  color: #3c42e7;
  font-weight: bold;
}
.span-ing{
  color: #9c13c2;
  font-weight: bold;
}
.span-normal{
  color: #000000;
  font-weight: bold;
}
.btn-success-2{
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}
.btn-success-2:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-success-2:disabled {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: #ffffff !important;
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.btn-success-3{
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 10px;
  transition: all 0.5s ease;
}
.btn-success-3:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-success-3:disabled {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: #ffffff !important;
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}