
@white:#ecf2f3;
@es: #2c3e50;
@en: #e74c3c;
@cl: #3498db;


.btn-back {
  background-color: @white;
  position: fixed;
  top: 40px;
  right: 5%;
  z-index: 1;
}
.btn-back2 {
  background-color: @white;
  position: fixed;
  top: 80px;
  right: 5%;
  z-index: 1;
}
img{
  width: 100%;

}
iframe{
  width: 100%;
}