<div class="row text-center">
  <h2>Verbal Tenses</h2>

  <div class="row mt-4">
    <div class="col-md-3 text-right" *ngFor="let item of list_subjects">
      <button
        class="btn btn-success-2"
        (click)="changeExample(item)"
        [disabled]="indice_s === item"
      >
        {{ item }}
      </button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 text-right" *ngFor="let item of list_form; let i = index">
      <button
        class="btn btn-success-2"
        (click)="changeForm(item)"
        [disabled]="indice_f === item"
      >
        {{ item }}
      </button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-1 text-right" *ngFor="let item of list_examples; let i = index">
      <button
        class="btn btn-success-3"
        (click)="indice = i"
        [disabled]="indice === i"
      >
        {{ item }}
      </button>
    </div>
  </div>
  
  
</div>

<hr />
<div class="row text-center">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="alert alert-primary">Simple</div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-primary">Continuos</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-primary">Present (35% / 7%)</div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-success"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['present-simple-es'] }}"
      >
        <div [innerHTML]="examples[indice]['present-simple-en']"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-success"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['present-continuous-es'] }}"
      >
        <div [innerHTML]="examples[indice]['present-continuous-en']"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-primary">Past (25% / 4%)</div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-success"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['past-simple-es'] }}"
      >
        <div [innerHTML]="examples[indice]['past-simple-en']"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-success"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['past-continuous-es'] }}"
      >
        <div [innerHTML]="examples[indice]['past-continuous-en']"></div>
      </div>
    </div>
  </div>

  

  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-primary">Present Perfect (10% / 1%)</div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-success"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['present-perfect-simple-es'] }}"
      >
        <div [innerHTML]="examples[indice]['present-perfect-simple-en']"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-warning"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['present-perfect-continuous-es'] }}"
      >
        <div [innerHTML]="examples[indice]['present-perfect-continuous-en']"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-primary">Future (10% / 1%)</div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-success"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['future-simple-es'] }}"
      >
        <div [innerHTML]="examples[indice]['future-simple-en']"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-warning"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['future-continuous-es'] }}"
      >
        <div [innerHTML]="examples[indice]['future-continuous-en']"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-primary">Past Perfect (5% / <1%)</div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-success"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['past-perfect-simple-es'] }}"
      >
        <div [innerHTML]="examples[indice]['past-perfect-simple-en']"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-danger"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['past-perfect-continuous-es'] }}"
      >
        <div [innerHTML]="examples[indice]['past-perfect-continuous-en']"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-primary">Future Perfect (1% / <1%)</div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-warning"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['future-perfect-simple-es'] }}"
      >
        <div [innerHTML]="examples[indice]['future-perfect-simple-en']"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="alert alert-danger"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ examples[indice]['future-perfect-continuous-es'] }}"
      >
        <div [innerHTML]="examples[indice]['future-perfect-continuous-en']"></div>
      </div>
    </div>
  </div>
</div>
<div class="row text-center" *ngIf="indice !==0">
  <div class="col-md-3">
    <div class="alert alert-light"><span class="span-inf">infinitive</span></div>
  </div>
  <div class="col-md-3">
    <div class="alert alert-light"><span class="span-past">past simple</span></div>
  </div>
  <div class="col-md-3">
    <div class="alert alert-light"><span class="span-part">participle</span></div>
  </div>
  <div class="col-md-3">
    <div class="alert alert-light"><span class="span-ing">continuous</span></div>
  </div >
</div>
<div class="container p-2">
  <div class="row">
    <h1 class="text-center">Videos</h1>
    <hr />
    <div class="col-lg-6">
      <iframe
        src="https://www.youtube.com/embed/IpZ_PWcm3Zc"
        height="200"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-lg-6">
      <iframe
        src="https://www.youtube.com/embed/QAPTlvLxF2Y"
        height="200"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<button class="btn btn-info btn-back" routerLink="/ee">
  <i class="fa fa-backward"></i>
  BACK
</button>
<a
  class="btn btn-info btn-back2"
  href="https://forms.gle/z6aHjGZyDHv2AhWh8"
  target="_blank"
>
  <i class="fa fa-file-text-o"></i>
  FEEDBACK
</a>
