<div class="row background-cv">
  <div class="col-md-2">
    <button class="btn btn-info btn-lenguage" (click)="changeLenguage()">
      <i class="flag-icon flag-icon-{{country=='ES'?'us':'es'}}"></i>
      {{country=='ES'?'ENGLISH':'ESPAÑOL'}}
    </button>
    <button class="btn btn-info btn-back" routerLink="/helloworld">
      <i class="fa fa-backward"></i>
      {{country=='ES'?'VOLVER':'BACK'}}
    </button>
  </div>
  <div class="col-md-8 background-card" style="margin-top:30px;">
    <div class="row">
      <div class="col-md-4 background-lateral">
        <div class="col-12 text-center">
          <img src="/assets/img/20190517_214535.jpg"
             alt="mi foto =)" class="rounded-circle img-yo">
        </div>
        <div class="col-12">
          <h3 class="text-center text-white">{{cv.lateral1}}</h3>
          <p class="text-justify text-white text-lateral">
            {{cv.lateral1Text}}
          </p>
          <hr>

          <h3 class="text-center text-white">{{cv.lateral2}}</h3>
          <p class="text-center text-white text-lateral">
            <i class="fa fa-envelope"></i> - 
            <a class="link-color" href="mailto: fabian.arismendi@usach.cl">fabian.arismendi@usach.cl</a>
          </p>
          <hr>

          <h3 class="text-center text-white">{{cv.lateral3}}</h3>
          <p class="text-center text-white text-lateral">
            <a class="link-color" href="https://github.com/Fabianko">
              <i class="fa fa-2x fa-github"></i>
              @Fabianko
            </a>
          </p>
          <p class="text-center text-white text-lateral">
            <a class="link-color" href="https://www.linkedin.com/in/fabián-arismendi-ferrada-83206534/">
              <i class="fa fa-2x fa-linkedin"></i>
              @Fabianko
            </a>
          </p>
          <p class="text-center text-white text-lateral">
            <a class="link-color" href="https://twitter.com/F_Arismendi">
              <i class="fa fa-2x fa-twitter"></i>
              @F_Arismendi
            </a>
          </p>

        </div>

      </div>
      <div class="col-md-8" style="padding:50px;">
        <h1 class="text-right" style="margin-top:20px;">
          <span class="text-blue1">FABIÁN ANDRÉS </span>
          <span class="text-blue2">ARISMENDI FERRADA</span>
        </h1>
        <h3 class="text-right text-blue1">
          {{cv.profession}}
          <img 
            src="/assets/img/logo-usach.png"
            alt="usachita"
            class="usachita"
            >
        </h3>
        <hr>
        <h4 class="text-blue2 cursorHand" (click)="openTitle1()">
          <i class="fa {{isOpenTitle1?'fa-plus':'fa-minus'}}"> </i>
          {{cv.title1}}
        </h4>
        <ng-container *ngIf="isOpenTitle1">
          <studies [studiesList]="cv.studiesList"></studies>
        </ng-container>

        <!-- ESTUDIOS PROFESIONALES-->
        <hr>

        <!-- Experiencia profesional-->
        <h4 class="text-blue2 cursorHand" (click)="openTitle2()">
          <i class="fa {{isOpenTitle2?'fa-plus':'fa-minus'}}"> </i>
          {{cv.title2}}
        </h4>
        <ng-container *ngIf="isOpenTitle2">
          <professional-experience [experiences]="cv.experiences" ></professional-experience>
        </ng-container>

        <hr>



        <!--Habilidades profesionales
        <h4 class="text-blue2">
          <i class="fa fa-plus"> </i>
          HABILIDADES PROFESIONALES
        </h4>
        <professional-skills></professional-skills>
        -->
      </div>
    </div>
  </div>
</div>
