.backgroud-game{
  background-color: #136315;
  padding:30px;
  border: none;
  border-radius: 1em;
}

.body-mrk {
  background-color:#f4fffd;
}

.cont-full{
  padding-top: 30px;
  height: -webkit-fill-available;
  background-color:#f4fffd;

}

