
<div class="row" >



  <div class="col-md-12" style='margin-left: 30px;'>
    <p class="studyTitle no-margin cursorHand" (click)="openStudy()">
      <i class="fa {{studyDto.isOpen?'fa-minus':'fa-plus'}}"></i>
      {{studyDto.title}}

      <span
        class="studyOrigin">{{studyDto.origin}}
      </span>
    </p>
    <p class="text-left styleDate">{{studyDto.date}}</p>
    <p class="styleDescription {{studyDto.isOpenAni?'open-ani':'close-ani'}}" *ngIf="studyDto.isOpen" >
      {{studyDto.description}}
    </p>
  </div>
</div>
