<div class="row text-center">
  <div class="col-lg-12">
    <h2>Irregular Verbs</h2>
  </div>
</div>
<hr>
<div class="row text-center">
  <div class="col-2">
    <button class="btn btn-info btn-sm" (click)="select('tech')" [disabled]="optionSelected == 'tech'">in tech</button>
  </div>
  <div class="col-2">
    <button class="btn btn-info btn-sm" (click)="select('meet')" [disabled]="optionSelected == 'meet'">in meetings</button>
  </div>
</div>
<hr>
<div class="row mb-5" *ngIf="verbs.length !==0">

  <div class="col-6 text-end d-grid">
    <button class="btn btn-outline-primary m-1" (click)="randomIndex()">Next ({{verbs.length}})</button>
  </div>
  <div class="col-6 text-start d-grid">
    <button class="btn btn-outline-info m-1" (click)="addLearned()">Learned ({{learned.length}})</button>
  </div>
  <div class="col-6 text-end">
    <div class="alert alert-light span-inf m-1 p-2">Infinitive</div>
    <div class="alert alert-light span-past m-1 p-2">Past Simple</div>
    <div class="alert alert-light span-part m-1 p-2">Participle</div>
    <div class="alert alert-light span m-1 p-2">Español</div>
  </div>
  <div class="col-6 text-start">
    <div class="alert alert-light span-inf m-1 p-2">{{verbs[index].infinitive}}</div>
    <div class="alert alert-light span-past m-1 p-2">{{verbs[index].pastSimple}}</div>
    <div class="alert alert-light span-part m-1 p-2">{{verbs[index].participle}}</div>
    <div class="alert alert-light span m-1 p-2">{{verbs[index].translation}}</div>
    
  </div>
</div>
<div class="my-5">
  <hr>
</div>