@red: #dd4040;
@yellow: #fbd951;
@black: #0c0809;
@white: #f7f7f7;
@blueLinkedin:  #2977b4;
@blue2:#1a5d68;

@padding1: 10px;
@paddingCard:40px;

.color-red{
  background:@white;
  background-image: linear-gradient(to bottom right,@yellow, @black);
}

.background-color-mrk{
  background:@white;
}

.background-mrk{
  background-image: url('/assets/img/forest-5143125.png');
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

.background-mrk-1{
  background-image: url('/assets/img/sky-34536_1280.png');
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

.background-mrk-2{
  background-image: url('/assets/img/sunset-1753249_1280.png');
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}
.padding-basic {
  padding: @padding1;
}
.h1-mrk{
  font-size: 50px;
  padding-bottom: 10px;
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg); 
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -sand-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.p-title-mrk{
  font-size: 20px;
  padding-bottom: 5px;
  /*
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg); 
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -sand-transform: rotate(-5deg);
  transform: rotate(-5deg);*/
}
.padding-card{
  padding-top: @paddingCard; 
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 40px;
  margin:0px
}

.image-container {
  max-width:100%;
  max-height:100%;
}

.no-margin{
  margin:0px !important;
}
.txt-size-btn{
  font-size: 18px;;
}
.btn-linkedin{
  background-color: @blueLinkedin;
  padding: 1px 6px;
}

.card {
  background-color: @white;
  border-radius: 13px;
  padding: 20px;
}
.position-button{
  position: fixed;
  bottom: 20px;
  right: 20px; 
}
.position-linkedin{
  position: fixed;
  bottom: 20px;
  left: 20px; 
  color: @blueLinkedin;
}

.style-mrk{
  color: #e3e6e3;
  font-family: monospace;
  animation: flipInY;
  animation-duration: 2s;
}

.btn-entrance-down{
  animation: backInDown;
  animation-duration: 1s; 
}
.btn-entrance-right{
  animation: backInRight;
  animation-duration: 1s; 
}
.btn-entrance-left{
  animation: backInLeft;
  animation-duration: 1s; 
}
.btn-entrance-up{
  animation: backInUp;
  animation-duration: 1s; 
}

.btn-dark{
  margin-left: 5px;
  margin-bottom: 5px;
}
.usachita{
  margin:10px;
  height: 80px;
}

.title-bd{
  margin:2% 10%;
  font-size:30px;
}

.space-title{
  padding-bottom: 30px;
}

.btn-back{
  background-color:@blue2;
  position: fixed;
    top: 10px;
    right: 20px;
}