<div class="container p-2">
  <div class="row">
    <h1 class="text-center">150 PHRASAL VERBS</h1>
    <hr />
    <div class="col-lg-6">
      <iframe
        src="https://www.youtube.com/embed/HbgQXNvWSl0"
        height="400"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-lg-6">
      <iframe
        src="https://elblogdeidiomas.es/150-phrasalverbs-traduccion-ejemplo/"
        frameborder="0"
        height="400"
      ></iframe>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center">videos</h1>
    <hr />
    <div class="col-lg-6">
      <iframe
        src="https://www.youtube.com/embed/MX3xWT8TwmQ"
        height="400"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-lg-6">
      
    </div>
  </div>
  <button class="btn btn-info btn-back" routerLink="/helloworld">
    <i class="fa fa-backward"></i>
    BACK
  </button>
</div>
