<div class="container">
  <div class="row">

    <div class="col-md-12 card">
      <div class="row ">
          <h1 class=" title-bd">
            <span class="">
              <img 
              src="/assets/img/logo-usach.png"
              alt="usachita"
              class="usachita"
              >
            </span>
            Base de datos
          </h1>
      </div>
      <div class="row space-title">
        <ng-container *ngFor="let item of dataBd">
          <div class="col-md-12">
            <item-comp [item]="item"></item-comp>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  
</div>

<button class="btn btn-info btn-back" routerLink="/helloworld">
  <i class="fa fa-backward"></i>
  BACK
</button>
