<div class="row" *ngIf="newsJson && newsJson.noticias">
  <ng-container *ngFor="let i of newsJson.noticias">
    <div class="col-md-6" style="margin-top:20px;">
      <div class="card">
        <div *ngIf="
          (!i.prontus_fotolibre || !i.prontus_fotolibre._text)
          && (!i.prontus_foto640 || !i.prontus_foto640._text)
          ">
          <img [src]="'/assets/img/no-image.jpg'"
          class="card-img-top" alt="...">
        </div>
        <div *ngIf="i.prontus_fotolibre && i.prontus_fotolibre._text">
          <img [src]="'http://www.' + newsJson.fuente._text + i.prontus_fotolibre._text "
          class="card-img-top" alt="...">
        </div>
        <div *ngIf="!i.prontus_fotolibre._text && i.prontus_foto640 && i.prontus_foto640._text">
          <img [src]="i.prontus_foto640 ?'http://www.' + newsJson.fuente._text + i.prontus_foto640._text : 'assets/img/no-image.jpg'"
          class="card-img-top" alt="...">
        </div>
        
        <div class="card-body" >
          <h6 class="card-title"> {{i.title._text}}
            <span class="subtitle">
              <a href="{{i.link._text}}">
                ({{newsJson.fuente._text}})
              </a>
            </span>
          </h6>

          <p class="card-text">{{i.description._text}}</p>
          <p class="text-right"> {{i.pubDate? (i.pubDate._text |date:'dd/MM/yyyy HH:mm') :"" }}</p>
        </div>
        <button type="button" class="btn btn-success btn-xs" (click)="onClick($event)">
          <i class="fa fa-check"></i>
          GOOD NEWS
        </button>
        <button type="button" class="btn btn-warning btn-xs" (click)="onClick($event)">
            <i class="fa fa-question"></i>

            I DON'T KNOW

        </button>
        <button type="button" class="btn btn-danger btn-xs" (click)="onClick($event)">
          <i class="fa fa-times"></i>
          BAD NEWS
        </button>
      </div>
    </div>


  </ng-container>
</div>

<button type="button" class="btn btn-primary btn-circle fixedbutton" *ngIf="false" (click)="nextObject()">
  <i class="fa fa-arrow-right"></i>
</button>
