<div class="row">
  <div class="col-12">
    <h2>Reported Speech</h2>
    <p>
      Reported speech, also known as indirect speech, is used to report what
      someone else has said. It is commonly used in storytelling, interviews,
      and conversations. In reported speech, the tense, pronouns, and other
      elements may change to reflect the speaker's original words. There are two
      main types of reported speech: statements and questions. Statements are
      used to report statements or facts, while questions are used to report
      questions asked by someone else.
    </p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12">
    <h3 class="text-center">Statements (declaraciones)</h3>
    <table class="table table-dark text-center table-striped mb-5">
      <thead>
        <th scope="col">
          <h4>Direct speech</h4>
        </th>
        <th scope="col">
          <h4>⏩</h4>
        </th>
        <th scope="col">
          <h4>Reported speech</h4>
        </th>
      </thead>
      <tbody>
        <tr >
          <td scope="col">
            <h5>Present simple</h5>
            <p>I have experience in web development.</p>
          </td>
          <td scope="col">
            <h4>⏩</h4>
          </td>
          <td scope="col">
            <h5>Past simple</h5>
            <p>He mentioned that he had experience in web development.</p>
          </td>
        </tr>
        <tr>
          <td scope="col">
            <h5>Present continuous</h5>
            <p>I am working on a new project.</p>
          </td>
          <td scope="col">
            <h4>⏩</h4>
          </td>
          <td scope="col">
            <h5>Past continuous</h5>
            <p>She said that she was working on a new project.</p>
          </td>
        </tr>
        <tr>
          <td scope="col">
            <h5>Present perfect</h5>
            <p>I have finished my homework.</p>
          </td>
          <td scope="col">
            <h4>⏩</h4>
          </td>
          <td scope="col">
            <h5>Past perfect</h5>
            <p>They told me that they had finished their homework.</p>
          </td>
        </tr>
        <tr>
          <td scope="col">
            <h5>Present perfect continuous</h5>
            <p>I have been studying English for two years.</p>
          </td>
          <td scope="col">
            <h4>⏩</h4>
          </td>
          <td scope="col">
            <h5>Past perfect continuous</h5>
            <p>She mentioned that she had been studying English for two years.</p>
          </td>
        </tr>
        <tr>
          <td scope="col">
            <h5>Past simple</h5>
            <p>I went to the store yesterday.</p>
          </td>
          <td scope="col">
            <h4>⏩</h4>
          </td>
          <td scope="col">
            <h5>Past perfect</h5>
            <p>He said that he had gone to the store the day before.</p>
          </td>
        </tr>
        <tr>
          <td scope="col">
            <h5>Will</h5>
            <p>I will call you later.</p>
          </td>
          <td scope="col">
            <h4>⏩</h4>
          </td>
          <td scope="col">
            <h5>Would</h5>
            <p>She said that she would call me later.</p>
          </td>
        </tr>
        <tr>
          <td scope="col">
            <h5>Can</h5>
            <p>I can help you with that.</p>
          </td>
          <td scope="col">
            <h4>⏩</h4>
          </td>
          <td scope="col">
            <h5>Could</h5>
            <p>He said that he could help me with that.</p>
          </td>
        </tr>
        <tr>
          <td scope="col">
            <h5>Must</h5>
            <p>I must finish this by tomorrow.</p>
          </td>
          <td scope="col">
            <h4>⏩</h4>
          </td>
          <td scope="col">
            <h5>Had to</h5>
            <p>They told me that they had to finish that by tomorrow.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
