<div class="container p-2 mb-5">
  <div class="col-12 mb-5">
    <h1 class="text-center">Conditional Sentences</h1>
    <p>
      Conditional sentences are sentences that express one thing contingent on
      something else, e.g. "If it rains, the picnic will be cancelled". They are
      so called because the impact of the main clause is conditional on the
      dependent clause.
    </p>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingZero">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseZero"
            aria-expanded="true"
            aria-controls="collapseZero"
          >
            <span class="me-2"><i class="fa fa-hand-o-right"></i></span>
            Zero Conditional
          </button>
        </h2>
        <div
          id="collapseZero"
          class="accordion-collapse collapse show"
          aria-labelledby="headingZero"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Used for general truths and facts.</strong> Structure:
            <span class="badge text-bg-primary">If</span> +
            <span class="badge text-bg-primary">present simple</span>,
            <span class="badge text-bg-primary">present simple.</span>
            <br /><strong>Example:</strong> If you heat ice, it melts.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFirst">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFirst"
            aria-expanded="false"
            aria-controls="collapseFirst"
          >
            <span class="me-2"><i class="fa fa-hand-o-right"></i></span>
            First Conditional
          </button>
        </h2>
        <div
          id="collapseFirst"
          class="accordion-collapse collapse"
          aria-labelledby="headingFirst"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Used for real possibilities in the future.</strong>
            Structure:
            <span class="badge text-bg-primary">If</span> +
            <span class="badge text-bg-primary">present simple</span>,
            <span class="badge text-bg-primary">will</span> +
            <span class="badge text-bg-primary">infinitive.</span> <br /><strong
              >Example:</strong
            >
            If it rains tomorrow, we will cancel the trip.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSecond">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSecond"
            aria-expanded="false"
            aria-controls="collapseSecond"
          >
            <span class="me-2"><i class="fa fa-hand-o-right"></i></span>
            Second Conditional
          </button>
        </h2>
        <div
          id="collapseSecond"
          class="accordion-collapse collapse"
          aria-labelledby="headingSecond"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong
              >Used for unreal or improbable situations in the present or
              future.</strong
            >
            Structure:
            <span class="badge text-bg-primary">If</span> +
            <span class="badge text-bg-primary">past simple</span>,
            <span class="badge text-bg-primary">would</span> +
            <span class="badge text-bg-primary">infinitive. </span><br />
            <strong>Example:</strong> If I won the lottery, I would buy a car.
            <br />
            <strong>Another example:</strong> If I had more time, I would travel
            the world.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThird">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThird"
            aria-expanded="false"
            aria-controls="collapseThird"
          >
            <span class="me-2"><i class="fa fa-hand-o-right"></i></span>
            Third Conditional
          </button>
        </h2>
        <div
          id="collapseThird"
          class="accordion-collapse collapse"
          aria-labelledby="headingThird"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong
              >Used for unreal or improbable situations in the past.</strong
            >
            Structure: <span class="badge text-bg-primary">If</span> +
            <span class="badge text-bg-primary">past perfect</span>,
            <span class="badge text-bg-primary">would have</span> +
            <span class="badge text-bg-primary">past participle</span>.
            <br /><strong>Example:</strong> If I had known you were in town, I
            would have called you.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-info btn-back" routerLink="/ee">
  <i class="fa fa-backward"></i>
  BACK
</button>
<a
  class="btn btn-info btn-back2"
  href="https://forms.gle/z6aHjGZyDHv2AhWh8"
  target="_blank"
>
  <i class="fa fa-file-text-o"></i>
  FEEDBACK
</a>
