<div class="background{{ dark ? '-dark' : '' }}">
  <div class="container">
    <nav class="navbar sticky-top navbar-expand-md navbar-light background-2">
      <div class="container-fluid">
        <a class="navbar-brand fs-3" (click)="navigateToSection('about')"
          >Fabianko</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" (click)="navigateToSection('about')">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="navigateToSection('projects')"
                >Projects</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cv">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="navigateToSection('contact')"
                >Contact</a
              >
            </li>
          </ul>
          <span class="ml-auto">
            <!--
            <button class="btn btn-success" (click)="onClickDark()">
                <i class="fa {{dark?'fa-sun-o':'fa-moon-o'}}"></i> 
            </button>
            -->
          </span>
        </div>
      </div>
    </nav>
    <div class="about pt-5 row" id="about">
      <div class="col-md-8 pl-5 text-center">
        <h4 class="fs-5 fw-bolder">Welcome! I'm Fabian(ko) Arismendi && </h4>
        <h1>
          I'm
          <span
            class="animated iam fs-1" 
            [class.fadeIn]="!fadeOut"
            [class.fadeOut]="fadeOut"
          >
            {{ currentText }}
          </span>
        </h1>
      </div>
      <div class="col-md-4">
        <img src="/assets/img/gif_dev.gif" alt="developer" class="img-fluid" />
      </div>
    </div>
    <div class="pt-5" id="projects">
      <p class="text-center h-text ml-5">
        <span class="label-text"> projects </span>
      </p>
    </div>
    <div class="row py-5 ml-4">
      <div *ngFor="let project of projects" class="col-md-2 mb-3">
        <div
          class="card bg-dark text-white clickable-image"
          (click)="onImageClick(project.to_link)"
        >
          <img
            [src]="project.imageUrl"
            class="card-img img-responsive"
            alt="hola"
          />
          <div class="card-img-overlay">
            <h5 class="card-title">{{ project.name }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
