<!--en angular 10 cuando el largo de finished tenga 2 objetos adentro mostrar-->
<div *ngIf="listNews.length === 0">
  <!--bootstrap icono cargando-->
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
    </div>
  </div>
</div>
<div *ngIf="listNews.length > 0">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="card mt-5">
          <div class="row">
            <div class="col-md-6">
              <img *ngIf="listNews[indexNew].urlToImage" [src]="listNews[indexNew].urlToImage" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">
                  ({{indexNew+1}}/{{listNews.length}}) 
                  {{ listNews[indexNew].title }}
                  <span class="subtitle">
                    {{ listNews[indexNew].source.name }}
                  </span>
                </h5>
                <p class="card-text">{{ listNews[indexNew].author }}</p>
                <p class="card-text">{{ listNews[indexNew].description }}</p>
                <p class="card-text">{{ listNews[indexNew].content }}</p>
                <p class="card-text"></p>
                <p class="text-end">
                  <a [href]="listNews[indexNew].url" class="btn btn-success" target="_blank" >Go to the news</a>
                  <button class="btn btn-info text-end" (click)="next()">next</button>
                </p>
                
              </div>
              <div class="card-footer text-end" style="font-size:10px">
                {{ listNews[indexNew].publishedAt | date: 'yyyy-MM-dd HH:mm' }}
              </div>
             
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>