<nav class="navbar navbar-expand-lg navbar-light" >
  <a class="navbar-brand p-3">Clasificador colaborativo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" (click)="selectOption('NEWS')">Cooperativa.cl </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="selectOption('NEWS2')">ElPais.com </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="selectOption('IMAGES')">Images</a>
      </li>
      <li class="nav-item" *ngIf="false">
        <a class="nav-link"(click)="selectOption('CACA')">CACA</a>
      </li>
    </ul>
  </div>
</nav>
<button class="btn btn-info btn-back" routerLink="/helloworld">
  <i class="fa fa-backward"></i>
  BACK
</button>
<div *ngIf="variableType">
  <app-select-classificator #selectClassificator [type]="variableType"></app-select-classificator>

</div>

