<h1 class="text-center">GAME2048x by Farismendi</h1>
<h2 class="text-center" style="color:red;" *ngIf="endGame">FIN DEL JUEGO </h2>
<div class="container" >
    <div class="row ">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-right">
                        Tamaño: 
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-1">
                        <input type="number" class="form-control" 
                            [formControl]="inputSize" 
                            placeholder="valor de 4 a 15"  aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button"
                          (click)="changeSize()">Cambiar</button>
                        </div>
                      </div>
                </div>
                
            </div>
            
        </div>
        <div class="col-md-12">
            <p class="text-center">
                Movimientos: {{countMoviments}}
            </p>
            <p class="text-center" *ngIf="maxValue">
                Max value: {{maxValue}}
            </p>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-warning btn-1" 
                [disabled]="countMoviments==0"
                (click)="backButton()">
                BACK
            </button>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <ng-container class="text-center" *ngIf="array">
                <ng-container *ngFor="let row of array; let i=index">
                    <div style="display: table;">
                        <ng-container *ngFor="let col of row; let j=index">
                            <div class="text-center color-{{col}} elem-game " >
                                <ng-container class="text-center " >
                                    {{col}}
                                </ng-container>
                            </div> 
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-info" [disabled]="endGame" (click)="clickUp()">
                up
            </button>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-info" [disabled]="endGame" (click)="clickLeft()">
                left
            </button>
            <button class="btn btn-info" [disabled]="endGame" (click)="clickDown()">
                down
            </button>
            <button class="btn btn-info" [disabled]="endGame" (click)="clickRight()">
                right
            </button>
        </div>
    </div>
    
</div>




