@red: #dd4040;
@yellow: #fbd951;
@black: #0c0809;

@padding1: 10px;
@paddingCard:50px;

.color-red{
  background:@red;
  background-image: linear-gradient(to right,@yellow, @black);
}

.padding-basic {
  padding: @padding1;
}

.padding-card{
  padding: @paddingCard;
}

.image-container {
  max-width:100%;
  max-height:100%;
}

.no-margin{
  margin:0px !important;
}
