<div class="background-mrk-{{backgroundImg}}">
  
  <div class="background-mrk">
    <div class="footer text-center">
      <p class="color-white">MRK [dot] CL</p>
    </div>
    <div class="row padding-card">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h1 class="no-margin style-mrk h1-mrk">Bienvenido </h1>
        <p class="style-mrk p-title-mrk">
          Si te interesa puedes ver mis proyectos:
        </p>
      </div>

      <div class="col-md-7 text-center">
        <button #btnCv type="button" [routerLink]="['/cv']" class="btn btn-dark btn-entrance-down">
          <i class="fa fa-briefcase i-links "></i>
          Curriculum
        </button>
        <button #btnCN type="button" [routerLink]="['/test-news']" class="btn btn-dark btn-entrance-down">
          <i class="fa fa-file i-links "></i>
          Clasificación de noticias
        </button>
        <button #btnBD type="button" [routerLink]="['/web-bd']" class="btn btn-dark btn-entrance-down">
          <i class="fa fa-university i-links "></i>
          Base de datos - usach
        </button>
        <button #btnNL type="button" [disabled]="true" [routerLink]="['/helloworld']"
          class="btn btn-dark btn-entrance-down  ">
          Procesamiento de lenguaje natural
        </button>
        <button #btnSC type="button" [disabled]="true" [routerLink]="['/helloworld']"
          class="btn btn-dark btn-entrance-down  ">
          Scrum
        </button>
        <button #btn2048 type="button" [routerLink]="['/2048']" class="btn btn-dark btn-entrance-down">
          <i class="fa fa-gamepad i-links "></i>
          2048x game
        </button>
        <button #btnpk type="button" [routerLink]="['/pokemonGame']" class="btn btn-dark btn-entrance-down">
          <i class="fa fa-gamepad i-links "></i>
          Pokemon game
        </button>
        <button #btntt type="button" [routerLink]="['/tictactoe']" class="btn btn-dark btn-entrance-down">
          <i class="fa fa-gamepad i-links "></i>
          tictactoe game
        </button>
      </div>
      <div class="col-md-1"></div>
    </div>
    
    <p class="position-linkedin no-margin btn-entrance-up">
      <span class="txt-size-btn">
        <a class="btn btn-info btn-linkedin "
          href="https://www.linkedin.com/in/fabianko/">
          <i class="fa fa-linkedin"></i>
        </a>
        / Fabián Arismendi Ferrada
      </span>
    </p>
    <button class="btn btn-circle btn-xs btn-success position-button btn-entrance-right" (click)="changeImg()">
      <i class="fa fa-retweet"></i>
    </button>
  </div>
</div>
