<div class="col-12 color-red padding-basic">
  <p class="title no-margin">{{titleFinal}}</p>
</div>

<div class="row padding-card">
  <div class="col-2 no-padding">

  </div>
  <div class="col-4">
      <img src="/assets/img/20190517_231123_opt2.jpg" alt="" class="image-container">
  </div>
  <div class="col-4 padding-card card">
    <div class="">
      <h1 class="no-margin">Bienvenido a mi sitio web</h1>
      <p>
        Si te interesa puedes ver mis proyectos:
      </p>
      <div class="list-group">
        <button #btnCv type="button" class="list-group-item list-group-item-action ">
          Curriculum
        </button>
        <button #btnCN type="button" class="list-group-item list-group-item-action">
          clasificación de noticias
        </button>

      </div>
    </div>
  </div>
  <div class="col-2">
    <!--margen derecha-->

  </div>
</div>
